{% extends 'base.html' %}

{% block body %}
  {% raw %}
  <div class="container">
    <h1>Daybreak prototype</h1>
    <aside>
    </aside>
    <div id="app">
      <div id="calendar"></div>
    </div>
  </div>
  {% endraw %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var vue = new Vue({
      el:      '#app',
      data:    {
        events: {{events|tojson}}
      },
      created: function () {
        axios.get('/events').then(function (response) {
          vue.events = response.data;
        });
      },
      mounted: function () {
        $("#calendar").fullCalendar({
          events: this.events
        });
      }
    });
  </script>
{% endblock %}