{% extends 'base.html' %}

{% block head %}
  <link href="/css/login.css" rel="stylesheet"/>
  <script src="/js/particles.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="flex-centered">
      <form method="POST">
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-google"></i> Log in with Google
        </button>
      </form>
    </div>
  </div>
  <div class="footer navbar-fixed-bottom text-center">
    <p>Copyright © 2017, Thought Foundry.</p>
  </div>
  <div id="particles"></div>
{% endblock %}