.flex-centered {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -2;
  overflow: hidden;
}